{% extends 'base.html' %}
{% block main-content %}

<h1>ADD PRODUCT</h1>
<form method="post" action="{% url 'product_add' %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name"><br><br>

    <label for="description">Description:</label>
    <textarea name="description"></textarea><br><br>

    <label for="price">Price:</label>
    <input type="number" name="price"><br><br>

    <label for="category">Category:</label>
    <select name="category">
        {% for category in categories %}
            <option value="{{category.pk}}">{{category.name}}</option>
        {% endfor %}
    </select><br><br>

    <label for="discount">Discount (%):</label>
    <input type="number" name="discount"><br><br>

    <button type="submit">Add Product</button>
</form><br>
<a href="{% url 'product_list' %}">Cancle</a>

{% endblock %}