{% extends 'base.html' %}
{% block main-content %}


<div class="container">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-6">
        <h3 class="text-center">Product Details</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">Discount</th>
            </tr>
          </thead>
          {% if product %}
          <tbody>
            <tr>
              <th scope="row">{{product.pk}}</th>
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.price}}</td>
              <td>{{product.category}}</td>
              <td>{{product.discount}}</td>
              {% else %}
              <p>Product Not Found</p>
            </tr>
        </tbody>
    {% endif %}
</table>

<button type="submit" class="btn btn-primary btn-block" data-url="{% url 'product_list' %}">Go Back</button>
</div>
</div>
</div>
{% endblock %}